**/node_modules
/vendor
/.idea
/.vscode
.env
.env.*
coverage
.DS_Store
apps/api/vendor
apps/api/.phpunit.result.cache
apps/api/coverage
apps/api/infection.log
apps/api/infection-summary.log
apps/api/infection.html
apps/admin/node_modules
apps/admin/dist
apps/admin/.vite
apps/admin/coverage
apps/admin/storybook-static
