parameters:
    level: 8
    paths:
        - src
    tmpDir: .phpstan.cache
    ignoreErrors:
        - '#Method App\\Application::create\(\) should return Slim\\App<DI\\Container> but returns Slim\\App<Psr\\Container\\ContainerInterface\|null>#'
        - '#Parameter \#1 \$app of static method App\\Application::registerRoutes\(\) expects Slim\\App<DI\\Container>, Slim\\App<Psr\\Container\\ContainerInterface\|null> given#'
